{
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"trailingComma": "all",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react(/.*)?$",
		"^next(/.*)?$",
		"<THIRD_PARTY_MODULES>",
		"^@/config(/.*)?$",
		"^@/components(/.*)?$",
		"^@/hooks(/.*)?$",
		"^@/providers(/.*)?$",
		"^@/services(/.*)?$",
		"^@/types(/.*)?$",
		"^@/utils(/.*)?$",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
