  NODE_ENV=development
  PORT=4200
  CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:4200
  DATABASE_URL = "your-db-url"
  JWT_ACCESS_SECRET="at-least-32-characters-long-access-secret"
  JWT_REFRESH_SECRET="at-least-32-characters-long-refresh-secret"
  JWT_ACCESS_EXPIRES_IN=15m
  JWT_REFRESH_EXPIRES_IN=7d
